#settings input[type="range"] {
    display: inline-block;
    margin-right: 10px;
    width: 65%;
}

#settings .vis-configuration-wrapper {
    height: 700px;
    margin: 10px;
    overflow: auto;
    width: min-content;
}

#settings .vis-config-select {
    width: unset;
}

#graph {
    border: 1px solid lightgray;
}